<div class="landing">
	<h3>Go Fetch Eh.
		<img id="leaf" src="/img/leaf.png" alt="MapleLeaf">
	</h3>
	<span>News Article Scraper For Beaverton</span>
</div>
<div class="row">
	<div class="articleContainer col s12">
		<div class="card z-depth-3">
			<div class="card-content">
				<h5 id="articleTitle"></h5>
				<p id="articleInfo"></p>
				<span><a id="articleLink" href="">Read More</a></span>
			</div>
			<div class="card-content">
				<span class="activator">View Comments
					<i class="activator material-icons right">comment</i></span>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">Comments<i
						class="material-icons right">close</i></span>
				<div class="commentDiv col s12">
					<ul class="collection">

					</ul>
				</div>

			</div>
		</div>
	</div>
</div>

<script src="{{jsSource}}"></script>