<div class="nav">
	<ul id="slide-out" class="sidenav sidenav-fixed">
		<li class="active"><a href="/">Home</a></li>
		<li><a href="/">Fetch Articles</a></li>
	</ul>
	<a href="#" data-target="slide-out" class="sidenav-trigger">
		<i class="material-icons">menu</i>
	</a>
</div>
<main>
	<div class="container">
		<div class="landing">
			<h3>Go Fetch Eh.
				<img id="leaf" src="/img/leaf.png" alt="MapleLeaf">
			</h3>
			<span>News Article scraper for Beaverton</span>
		</div>
		<div class="row">
			<div class="articleContainer">
				<ul class="col s12 collection articleCol">

				</ul>
			</div>

		</div>
	</div>
	</div>
</main>
<footer>

</footer>