<div class="landing">
	<h3>Go Fetch Eh.
		<img id="leaf" src="/img/leaf.png" alt="MapleLeaf">
	</h3>
	<span>News Article Scraper For Beaverton</span>
</div>
<div class="row">
	<div class="articleContainer col s12">
		<ul class="col s12 collection articleCol z-depth-3"></ul>
	</div>
</div>
<footer>

</footer>

<script src="{{jsSource}}"></script>