body,
html,
main {
  height: 100%;
  width: 100%;
  padding: 0;
  font-family: "Nunito", sans-serif;
  /* font-weight: 700; */
}

main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  main,
  footer {
    padding-left: 0;
  }
}
#leaf {
  width: 25;
  height: 25px;
}

#loaderWrapper {
  margin-top: 25%;
  width: 100%;
  text-align: center;
}

.articleCol {
  display: none;
  margin-top: 3em;
}

/* added */

.collection-item {
  min-height: 10em;
}

.deleteComment {
  cursor: pointer;
}

.dateSpan {
  color: rgba(0, 0, 0, 0.452);
}

.card {
  height: 100%;
  margin-top: 3em;
}

.card-content:nth-child(1) {
  height: 75%;
}

.card-content:nth-child(2) {
  -webkit-box-shadow: 0px -1px 3px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -1px 3px -1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px -1px 3px -1px rgba(0, 0, 0, 0.2);
  margin-top: 2em;

  /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); */
  justify-content: flex-end;
  height: 25%;
  display: flex;
  flex-direction: column;
}

.activator:hover {
  cursor: pointer;
}

.card .card-content:nth-of-type(2) span {
  color: firebrick;
}

.container {
  height: 100%;
}

p#articleInfo {
  margin-top: 1em;
  width: 75%;
}

.userIcon {
  padding-right: 1em;
}

/* added */

.landing {
  text-align: center;
}

.readmore {
  padding-left: 0.5em;
}

.material-icons {
  font-size: 34px;
  color: firebrick;
}

.withlove {
  text-align: center;
}
.user-view {
  height: auto;
}

.background img {
  width: 300px;
  height: auto;
}
