body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
}

main,
footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  main,
  footer {
    padding-left: 0;
  }
}
#leaf {
  width: 25;
  height: 25px;
}

#loaderWrapper {
  margin-top: 25%;
  width: 100%;
  text-align: center;
}

.articleCol {
  display: none;
  margin-top: 3em;
}

.landing {
  text-align: center;
}

.readmore {
  padding-left: 0.5em;
}

.material-icons {
  font-size: 34px;
  color: firebrick;
}
